.ba-section-services {
	background: #E5E5E5 url(../img/services-bg.svg) 43% 85.6% no-repeat;
	 	padding: 14px 0 28px 0;
	 	@media screen and (max-width:640px){
			background: #E5E5E5 url(../img/services-bg.svg) 50% 50% no-repeat;
	  	}

  	&__title {
   	font-style: normal;
   	font-weight: 500;
		font-size: 40px;
   	line-height: 1.25;
		margin-bottom: 20px;
		
		@media screen and (min-width:640px){
			margin-bottom: 59px;
		}

   	&::after {
      	content: "";
      	display: inline-block;
      	background: url(../img/section-project-bg.svg) 50% 110% no-repeat;
      	height: 32px;
      	width: 25px;
   	}
  	}

  	&__offer {
		position: relative;
		
    	&-first {
			height: 100%;
			margin-bottom: 26px;

			@media screen and (min-width:640px){
				height: 268px;
      		margin-bottom: 62px;
			}
      	
   	}

    	&-second {
			height: 100%;
			margin-bottom: 26px;
			@media screen and (min-width:640px){
				height: 237px;
			}
   	}

   	&-title {
      	font-style: normal;
      	font-weight: 500;
      	font-size: 18px;
      	line-height: 1.6;
			margin: 0;

			@media screen and (max-width:640px){
				&::before{
				content: "";
				display: inline-block;
				background: url(../img/all-projects-img.svg) 50% 100% no-repeat;
				height: 32px;
				width: 25px;
				}
			}

			&--active{
				@media screen and (max-width:640px){
					&::before{
					content: "";
					display: inline-block;
					background: url(../img/all-projects-img--active.svg) 50% 100% no-repeat;
					height: 32px;
					width: 25px;
					}
				}
				
			}
   	}

   	&-subtitle {
			display: block;
      	font-style: normal;
      	font-weight: normal;
      	font-size: 14px;
      	line-height: 2;
     		margin: 0;
			margin-top: 16px;
			margin-left: 26px;
			
			@media screen and (min-width:640px){ 
				display: block !important;
				margin-top: 4px; 
				margin-left: 0;
			}
   	}

   	&-price {
      	font-style: normal;
      	font-weight: 500;
      	font-size: 18px;
      	line-height: 1.6;
      	color: #4737ff;
      	position: absolute;
			bottom: -10px;
			left: 26px;
		
			@media screen and (min-width:640px){
				bottom: 0;
				left: 0;
			}
   	}
  	}

  	.ba-slider-nav {
		  @media screen and (max-width:640px){
			  display: none;
		  }
   	display: flex;
   	align-items: center;
   	padding-left: 0;
   	margin-top: 29px;

   	&::before {
      	content: "01";
      	font-size: 18px;
      	font-style: normal;
      	font-weight: normal;
      	line-height: 1.6;
      	margin-right: 14px;
      	margin-left: 2px;
   	}

   	&::after {
   	   content: "04";
      	font-size: 18px;
      	font-style: normal;
      	font-weight: normal;
      	line-height: 1.6;
      	margin-left: 12px;
   	}

    	&__list {
     		list-style: none;
      	display: flex;
      	height: 2px;
      	width: 70px;
   		background-color: #c4c4c4;

      	a {
				  transition: 0.2s;
				  
        		&:hover {
          		background-color: #4737ff;
        		}
     		 }
    	}
  	}
}
