.ba-section-projects{
	background-color: #E5E5E5;
	padding: 6px 0 15px 0;

	&__title{
		color: #222222;
		text-align: right;
		margin-bottom: 7px;
		font-family: Fira Sans;
		font-style: normal;
		font-weight: 500;
		line-height: 1.25;

		@media screen and (min-width:640px){
			margin-bottom: 50px;
		}

		&::before{
			content: "";
			display: inline-block;
			width: 15px;
			height: 15px;
			background-color: #4737FF; 
			border-radius: 50%;
			position: relative;
			top: -3px;
			left: 10px;
		}
	}

	&__gallery{
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 22px;
		box-shadow:  0 0 20px rgba(0, 0, 0, 0.25);

		&-img{
			max-width: 100%;
			display: block;
			@media screen and (min-width:640px){
				max-width: 100%;
			}
		}

		&-link{
			font-family: Fira Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 1.6;
			color: #222222;
			opacity: 0.7;

			@media screen and (max-width:640px){
				position: absolute;
				right: 10px;
				margin-bottom: 10px;
				color: #4737FF;
				font-size: 14px;

				&::before{
					content: "";
					display: inline-block;
					background: url(../img/all-projects-img.svg) 50% no-repeat;
					height: 8px;
					width: 14px;
				}
			}
		}
	}

	&__post{
		display: block;
		position: relative;
		width: 50%;



		@media screen and (min-width:640px){
			width: 25%;	
			&:hover{
				.ba-section-projects__post-description{
					display: block;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: 18px;

					&::before{
						content: "";
						display: block;
						background: url(../img/project-gallert-hover.svg) 50% no-repeat;
						width: 25px;
						height: 25px;
						position: absolute;
						top: 15px;
						left: 15px;
					}

					&::after{
						content: "";
						display: block;
						background: url(../img/project-gallert-hover.svg) 50% no-repeat;
						transform: rotate(-180deg);
						width: 25px;
						height: 25px;
						position: absolute;
						bottom: 15px;
						right: 15px;
					}
				}
			}	
		}

		&-description{
			position: absolute;
			bottom: 0;
			color: #F4F4F4;
			background: rgba(34, 34, 34, 0.7);
			font-family: Fira Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 13px;
			line-height: 3;
			width: 100%;
			text-align: center;

			@media screen and (min-width:640px){
				display: none;
			}
		}
	}

	.ba-slider-nav{
		@media screen and (max-width:640px){
			display: none;
		}

		display: flex;
		justify-content: flex-end;
		align-items: center;	
		margin-top: 21px;
	
		&::before{
			content: "01";
			font-size: 18px;
			font-family: Fira Sans;
			font-style: normal;
			font-weight: normal;
			line-height: 1.6;
			color: #222222;
			margin-right: 14px;
			margin-left: 2px;
		}
	
		&::after{
			content: "04";
			font-size: 18px;
			font-family: Fira Sans;
			font-style: normal;
			font-weight: normal;
			line-height: 1.6;
			color: #222222;
			margin-right: 3px;
		}
		
		&__list{
			list-style: none;
			display: flex;
			height: 2px;
			width: 70px;
			background-color: #c4c4c4;
	
			a{
				transition: 0.2s;
				&:hover{
					background-color: #4737ff;
				}
			}		
		}
	}	
}