.ba-section-contacts{
	background: #e5e5e5;
	padding: 70px 0 54px 0;

	@media screen and (min-width:640px){
		padding: 103px 0 91px 0;
	}

	&__title{
		font-style: normal;
		font-weight: 500;
		font-size: 40px;
		line-height: 1.25;
		margin-top: 22px;

		@media screen and (min-width:640px){
			margin-top: 57px;		
			margin-left: 2px;
		}
	}

	&__subtitle{
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 1.6;	
		max-width: 328px;
		margin-top: 22px;
		margin-left: 2px;
		margin-bottom: 35px;

		@media screen and (min-width:640px){
			margin-top: 54px;	
			margin-bottom: 44px;
		}
	}

	.ba-contacts-input{
		position: relative;

		svg{
			position: absolute;
			bottom: 50%;
    		left: 5px;
			 transform: translateY(50%);
			 z-index: 3;
		}
	}

	input{
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 2;
		width: 263px;
		position: relative;
		display: block;
		border: none;
		border-bottom: 1px solid #4737FF;
		border-radius: 0;
		background: none;
		color: #3747FF;
		padding: 8px 0 8px 32px;
		margin-bottom: 10px;

		&::placeholder{
			color: #3747FF;
		}

		&:focus,
		&:active{
			outline: none; 
		}

		&:focus{
			color: #000;
		}

		&:invalid{
			color: red;
		}
	}

	input[type="tel"]{
		margin-bottom: 44px;
	}

	button{
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 2;
		text-align: center;
		background: none;
		background: url(../img/check.svg) 60% 45% no-repeat;
		color: #4737FF;
		border: 1px solid #4737FF;
		padding: 12px 122px;
		margin-left: 1px;
		margin-bottom: 25px;

		@media screen and (min-width:640px){
			margin-bottom: 0;
		}

		&:hover{
			border: none;
			padding: 12px 122px 0 122px;
			background: url(../img/check.svg) 60% 30% no-repeat;

			&::after{
				content: "";
				display: block;
				width: 35px;
				height: 2px;
				background-color: #3747FF;
				margin: 0;
				margin-top: 12px; 
			}
		}
	}

	&__img{
		display: none;
		margin-top: 25px;
		transform: translateX(-15px);

		@media screen and (min-width:640px){
			display: block;
		}

		&--small{
			margin-top: 30px;
			position: relative;
			top: none;
			left: none;

			@media screen and (min-width:640px){
				display: block;
				position: absolute;
				top: 335px;
				left: 570px;
			}
		}
	}
}