.ba-section-about{
	background: #E5E5E5;
	position: relative;
	padding: 71px 0 105px 0;
	@media screen and (min-width:640px){
		padding: 103px 0 89px 0;
	}

	&__links{
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 2;
		color: #4737FF;

		&:hover{
			color: rgba(0, 0, 0, 0.25);
		}

		&--second{
			&::before{
				content: "";
				display: inline-block;
				width: 4px;
				height: 1px;
				background-color: #4737FF;
				margin: 2px 4px 4px 0;
			}
		}
	}

	&__title{
		line-height: 1.25;
		margin-top: 2px;

		@media screen and (min-width:640px){
			margin-bottom: 10px;
		}
	}

	&__subtitle{
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 1.6;
		opacity: 0.7;
		width: 349px;
		margin: 0;
		margin-left: 5px;
		margin-top: 14px;
		@media screen and (min-width:640px){
			margin-top: 23px;
		}

		&--second{
			margin-top: 28px;
		}
	}

	&__scope{
		margin-top: 10px;
		display: flex;
		margin-bottom: 27px;

		@media screen and (min-width:640px){
			margin-bottom: 58px;
			margin-top: 139px;
		}

		&-title{
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 2;
			color: #4737FF;
			display: flex;
			align-items: center;
			margin-right: 10px;

			&:last-child{
				margin-right: 0;
			}

			@media screen and (min-width:640px){
				margin-right: 27px;	
			}
			
			&::before{
			content: "";
			display: inline-block;
			width: 40px;
			height: 1px;
			background-color: #4737FF;
			margin-right: 18px;
			}

			@media screen and (min-width:640px){
				&::before{
					content: "";
					display: inline-block;
					width: 58px;
					height: 1px;
					background-color: #4737FF;
					margin-right: 10px;
					}
			}
		}
	}
	&__image{
		box-shadow: -15px 55px 215px rgba(0, 0, 0, 0.25);	
		@media screen and (min-width:640px){
			transform: translateX(-15px) translateY(27px);
			width: 665px;
			height: 585px;	
			box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.25);

			img{
				display: block;
			}
		}

		&-position{
			@media screen and (max-width:640px){
				display: none;
			}

			position: absolute;
			top: 333px;
			left: 575px;
		}
	}

	&__post{
		margin-left: 4px;

		&--border{
			&::after{
			content: "";
			display: block;
			width: 265px;
			height: 1px;
			background-color: #4737FF;
			margin-top: 24px;
			margin-bottom: 28px;
			}
		}
		

		&-title{
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 1.6;
		}

		&-subtitle{
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 2;
			margin: 0;
			margin-top: 31px;
		}
	}

	&__gallery{
		position: relative;
		margin-top: 26px;
		img{
			display: block;
		}

		&-image{
			position: absolute;
			top: 115px;
			right: 25px;

			@media screen and (min-width:640px){
				position: absolute;
				top: 167px;
				right: 56px;
			}

		}

		&-title{
			font-style: normal;
			font-weight: 500;
			font-size: 40px;
			line-height: 1.25;
			color: #f4f4f4;
			width: 300px;
			position: absolute;
			bottom: 37px;
			right: 54px;
			left: 25px;

			@media screen and (min-width:640px){
				left: 101px;
				right: 0;
			}
		}
	}

	&__button{
		transform: rotate(-90deg) translateX(-40px) translateY(155px);
		text-align: center;
		display: inline-block;
		position: relative;

		@media screen and (min-width:640px){
			display: none;
		}
	
		&-scroll{
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 1.2;
			text-align: right;
			letter-spacing: 4px;
			text-transform: uppercase;
			color: #4737FF;
			opacity: 0.5;
			
			
			&:hover{ 
				color: rgba(34, 34, 34, 0.5);


				svg{
					path{
						stroke: rgba(34, 34, 34, 0.5);
					}
				}
			}

			svg{
				transform: translateX(-9px)
			}
		}
	}
}